@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Padauk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@220&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: #333;
  color: snow;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.square-container {
  height: 853px;
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-image: url("https://i.pinimg.com/564x/a2/12/c6/a212c6112112100800c8e097bc2033a1.jpg");
  background-size: cover;
  z-index: -1;
}

.pp {
  background-image: url("/images/ppig1.png");
  top: 14px;
  left: 15px;
  height: 100%;
  width: 10%;
  background-repeat: no-repeat;
  position: absolute;
}

.user {
  top: 19px;
  left: 55px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bar {
  background-color: darkgray;
  width: 450px;
  height: 2.5px;
  margin: 5px 15px 1px 15px;
  position: absolute;
}

.loadb {
  width: 94%;
  height: 2.5px;
  margin: 5px 15px 1px 15px;
  position: absolute;
  background-color: white;
  -webkit-animation: loading 5s infinite;
          animation: loading 5s infinite;
}

@-webkit-keyframes loading {
  from {
    width: 0%;
  }
}

@keyframes loading {
  from {
    width: 0%;
  }
}

.options {
  position: absolute;
  z-index: 1;
  top: 19px;
  right: 15px;
}

.options > span {
  display: block;
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 200%;
}

.options > span:not(:last-child) {
  margin-bottom: 3px;
}

.pub {
  background-image: url("https://i.pinimg.com/564x/a2/12/c6/a212c6112112100800c8e097bc2033a1.jpg");
  height: 400px;
  width: 400px;
  z-index: 100;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5%;
}

.pub::before {
  content: "The college has been forgoten, but I know you have been in here for a while... más";
  display: block;
  background-color: white;
  padding: 20px;
  margin: 0;
  height: 10%;
  color: #333;
  border-radius: 20px;
  width: 90%;
  font-family: 'Open Sans', sans-serif;
}

.pub::after {
  content: "where am i?";
  color: white;
  display: block;
  background-color: white;
  position: relative;
  top: -20px;
}

.square-container::after {
  content: "Enviar mensaje";
  display: block;
  color: white;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 55px;
  border-color: #eee;
  padding: 15px;
  border-style: solid;
  border-radius: 25px;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 11pt;
  border-width: thin;
}

.dm {
  background-image: url("/images/md-ig.png");
  position: absolute;
  bottom: 30px;
  right: 20px;
  background-position: center;
  background-size: contain;
  width: 26px;
  height: 23px;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=styles.css.map */